@keyframes spin_01 {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.home {
    .effect-wrap .effect {
        position: absolute;
        z-index: 1;
    }

    .effect-1 {
        left: 10%;
        top: 90%;
        font-size: 33px;
        color: $blue;
        animation: spin_01 5s linear infinite;
    }

    .effect-2 {
        left: 30%;
        top: 80%;
        font-size: 20px;
        color: $magenta;
    }

    .effect-3 {
        left: 14%;
        top: 20%;
        font-size: 20px;
        color: $yellow;
    }

    .effect-5 {
        left: 90%;
        top: 85%;
        font-size: 14px;
        color: $magenta;
    }

    .effect-6 {
        left: 50%;
        top: 85%;
        font-size: 16px;
        color: $blue;
        animation: spin_01 5s linear infinite;
    }

    .effect-7 {
        left: 90%;
        top: 15%;
        font-size: 33px;
        color: $yellow;
        animation: spin_01 5s linear infinite;
    }

    height: 100vh;
    background-image: url('../images/town.png');
    background-position: bottom;
    background-repeat: no-repeat;

    &-content {
        &__image {
            display: flex;
            float: right;
            margin-top: 100px;

            img {
                max-width: 100%;
            }
        }

        &__intro {
            position: absolute;
            top: 50%;
            width: 515px;
            transform: translate(0, -50%);

            &-hash {
                background-color: $border-color;
                border-radius: 22px;
                width: 360px;
                padding: 7px;
                color: $primary-color;
                font-weight: 600;

               span {
                color: $yellow;
                margin-left: 4px;
                margin-right: 8px;
                font-size: 18px;
               }
            }

            h1 {
                padding-top: 20px;
                font-size: 50px;
                color: $primary-color;
            }

            p {
                padding-top: 20px;
                color: $text-color;
                font-size: 16px;
                line-height: 22px;
            }

            &-links {
                padding-top: 60px;
                display: flex;

                .button-1 {
                    list-style: none;
                    margin-right: 30px;
                }

                .home-watch-demo-btn {
                    color: $button-color;
                    font-weight: 600;
                    @include transition-ease;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}