%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) /2); 
    z-index: 10;
    position: relative;

    &__logo {
        color: $yellow;
        font-size: 30px;
        line-height: 44px;
        font-weight: 700;
        @extend %align-center;

        span {
            color: $primary-color;
        }
    }

    &__bars {
        opacity: 0;

        @include tablet {
            color: $black;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 1.5rem;
        }
    }

    &__menu {
        @extend %align-center;
        text-align: center;

        &--links {
            color: $primary-color;
            margin: 0 15px;
            font-size: 16px;
            @extend %align-center;
            justify-content: center;

            &:hover {
                color: $yellow;
                @include transition-ease;
            }
        }

        .button-1 {
            margin-left: 10px;
        }
        

        @include tablet {
            display: none;
        }
    }
}