.choose {
    padding-top: 160px;

    .choose-intro {
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;

        h1 {
            font-size: 36px;
            line-height: 46px;
            font-weight: 600;
            color: $primary-color;
            padding-bottom: 30px;
        }
    }

    .choose-boxes {
        padding-top: 70px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        

        .choose-box {
            width: 260px;
            padding-left: 30px;
            padding-top: 40px;

            img {
                max-width: 100%;
            }

            .development-img {
                background-color: $light-pink-color;
                @include feature-box;
                margin: 0;
            }

            h2 {
                color: $primary-color;
                font-size: 20px;
                line-height: 58px;
                font-weight: 600;
                padding-top: 10px;
            }
        }
    }
}