$primary-color: #242f51;
$footer-background: #09142e;
$yellow: #fcae61;
$text-color: #616368;
$border-color: #e2eaed;

$black:#1E1E1E;
$grey:#CCCCCC;
$white:#FFFFFF;

$light-pink-color: #ffecef;
$magenta: #f55767;

$light-blue-color: #f4f4ff;
$blue: #2563ff;

$light-green-color: #e4ffee;
$green: #40975f;

$button-color: #2500f9;

$list-color: #999ca5;
$arrow-background: #eff3f8;
$star-color: #ffcc00;
$accordion-background: #f5f7fa;

@mixin transition-ease {
    transition: all .3s ease-in-out;
}

@mixin feature-box {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 30px;
}
