@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 6%;
}

.nav .nav-logo {
  color: #fcae61;
  font-size: 26px;
}

.nav .nav-logo span {
  color: #242f51;
}

.nav .nav-links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.nav .nav-links ul li .link {
  color: #242f51;
  font-size: 16px;
}

.nav .nav-links ul li .link::after {
  content: "";
  background: #242f51;
  opacity: 0.2;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav .nav-links ul li .link:hover::after {
  height: calc(100% + 8px);
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.nav .menu-nav__item {
  margin: 0 30px;
}

.nav .menu-nav__item .menu-nav__link {
  display: block;
  position: relative;
  color: #242f51;
  font-size: 16px;
}

.nav .menu-nav__item .menu-nav__link::after {
  content: "";
  background: #242f51;
  opacity: 0.2;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav .menu-nav__item .menu-nav__link:hover::after {
  height: calc(100% + 8px);
}

@-webkit-keyframes spin_01 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin_01 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home {
  height: 100vh;
  background-image: url("../images/town.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.home .effect-wrap .effect {
  position: absolute;
  z-index: 1;
}

.home .effect-1 {
  left: 10%;
  top: 90%;
  font-size: 33px;
  color: #2563ff;
  -webkit-animation: spin_01 5s linear infinite;
          animation: spin_01 5s linear infinite;
}

.home .effect-2 {
  left: 30%;
  top: 80%;
  font-size: 20px;
  color: #f55767;
}

.home .effect-3 {
  left: 14%;
  top: 20%;
  font-size: 20px;
  color: #fcae61;
}

.home .effect-5 {
  left: 90%;
  top: 85%;
  font-size: 14px;
  color: #f55767;
}

.home .effect-6 {
  left: 50%;
  top: 85%;
  font-size: 16px;
  color: #2563ff;
  -webkit-animation: spin_01 5s linear infinite;
          animation: spin_01 5s linear infinite;
}

.home .effect-7 {
  left: 90%;
  top: 15%;
  font-size: 33px;
  color: #fcae61;
  -webkit-animation: spin_01 5s linear infinite;
          animation: spin_01 5s linear infinite;
}

.home-content__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-top: 100px;
}

.home-content__image img {
  max-width: 100%;
}

.home-content__intro {
  position: absolute;
  top: 50%;
  width: 515px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.home-content__intro-hash {
  background-color: #e2eaed;
  border-radius: 22px;
  width: 360px;
  padding: 7px;
  color: #242f51;
  font-weight: 600;
}

.home-content__intro-hash span {
  color: #fcae61;
  margin-left: 4px;
  margin-right: 8px;
  font-size: 18px;
}

.home-content__intro h1 {
  padding-top: 20px;
  font-size: 50px;
  color: #242f51;
}

.home-content__intro p {
  padding-top: 20px;
  color: #616368;
  font-size: 16px;
  line-height: 22px;
}

.home-content__intro-links {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-content__intro-links .button-1 {
  list-style: none;
  margin-right: 30px;
}

.home-content__intro-links .home-watch-demo-btn {
  color: #2500f9;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.home-content__intro-links .home-watch-demo-btn:hover {
  color: #242f51;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.companies h2 {
  color: #242f51;
  padding-top: 110px;
  padding-bottom: 40px;
}

.companies .companies-logos img {
  max-width: 100%;
  margin: 0 40px;
}

.features {
  padding-top: 160px;
}

.features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-content__image {
  float: left;
  max-width: 100%;
}

.features-content__items {
  float: left;
}

.features-content__items h1 {
  color: #242f51;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  padding-bottom: 30px;
}

.features-content__items p {
  color: #616368;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.features-content__items .feature-boxes {
  padding-top: 90px;
}

.features-content__items .feature-boxes .feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.features-content__items .feature-boxes .feature-box img {
  max-width: 100%;
  width: 58px;
  height: 54px;
}

.features-content__items .feature-boxes .feature-box .speed-img {
  background-color: #ffecef;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
}

.features-content__items .feature-boxes .feature-box .prototyping-img {
  background-color: #f4f4ff;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
}

.features-content__items .feature-boxes .feature-box .vector-img {
  background-color: #e4ffee;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
}

.features-content__items .feature-boxes .feature-box .speed-title {
  color: #f55767;
  font-size: 20px;
  font-weight: 600;
}

.features-content__items .feature-boxes .feature-box .prototyping-title {
  color: #2563ff;
  font-size: 20px;
  font-weight: 600;
}

.features-content__items .feature-boxes .feature-box .vector-title {
  color: #40975f;
  font-size: 20px;
  font-weight: 600;
}

.features-content__items .feature-boxes .feature-box p {
  padding-top: 16px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}

.benefits {
  padding-top: 160px;
}

.benefits-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

.benefits-boxes .benefit-box {
  width: 330px;
  padding-right: 30px;
}

.benefits-boxes .benefit-box img {
  max-width: 100%;
  width: 58px;
  height: 58px;
}

.benefits-boxes .benefit-box .bill-img {
  background-color: #ffecef;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
}

.benefits-boxes .benefit-box .network-img {
  background-color: #f4f4ff;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
}

.benefits-boxes .benefit-box .thumbup-img {
  background-color: #e4ffee;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
}

.benefits-boxes .benefit-box h2 {
  padding-top: 15px;
}

.benefits-boxes .benefit-box .bill-title {
  color: #f55767;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}

.benefits-boxes .benefit-box .network-title {
  color: #2563ff;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}

.benefits-boxes .benefit-box .thumbup-title {
  color: #40975f;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}

.benefits-boxes .benefit-box p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.designed {
  padding-top: 160px;
}

.designed-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.designed-content .designed-text {
  width: 410px;
  position: absolute;
  top: 20%;
  right: 0;
}

.designed-content .designed-text h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
  padding-bottom: 30px;
}

.designed-content .designed-text p {
  padding-bottom: 60px;
}

.choose {
  padding-top: 160px;
}

.choose .choose-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.choose .choose-intro h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
  padding-bottom: 30px;
}

.choose .choose-boxes {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choose .choose-boxes .choose-box {
  width: 260px;
  padding-left: 30px;
  padding-top: 40px;
}

.choose .choose-boxes .choose-box img {
  max-width: 100%;
}

.choose .choose-boxes .choose-box .development-img {
  background-color: #ffecef;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
  margin: 0;
}

.choose .choose-boxes .choose-box h2 {
  color: #242f51;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
  padding-top: 10px;
}

.ultimate {
  padding-top: 160px;
}

.ultimate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ultimate-wrapper .ultimate-content h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
  padding-bottom: 20px;
}

.ultimate-wrapper .ultimate-content p {
  padding-bottom: 55px;
}

.ultimate-wrapper .ultimate-content__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ultimate-wrapper .ultimate-content__boxes .ultimate-content__box {
  padding-right: 40px;
}

.ultimate-wrapper .ultimate-content__boxes .ultimate-content__box img {
  max-width: 100%;
}

.ultimate-wrapper .ultimate-content__boxes .ultimate-content__box .ultimate-img {
  background-color: #f4f4ff;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 30px;
}

.ultimate-wrapper .ultimate-content__boxes .ultimate-content__box h2 {
  color: #242f51;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}

.ultimate-wrapper .ultimate-images {
  position: relative;
}

.ultimate-wrapper .ultimate-images .ultimate-image-1 {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 100;
}

.ultimate-wrapper .ultimate-images .ultimate-image-2 {
  position: absolute;
  top: 10%;
  right: 200px;
}

.subscription {
  padding-top: 160px;
}

.subscription-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.subscription-intro h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
  padding-bottom: 20px;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff;
    box-shadow: 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #2563ff, 2px -2px #2563ff, 3px -3px #2563ff, 4px -4px #2563ff, 5px -5px #2563ff, 6px -6px #2563ff, 7px -7px #2563ff, 8px -8px #2563ff;
    box-shadow: 1px -1px #2563ff, 2px -2px #2563ff, 3px -3px #2563ff, 4px -4px #2563ff, 5px -5px #2563ff, 6px -6px #2563ff, 7px -7px #2563ff, 8px -8px #2563ff;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff;
    box-shadow: 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff, 0 0 #2563ff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #2563ff, 2px -2px #2563ff, 3px -3px #2563ff, 4px -4px #2563ff, 5px -5px #2563ff, 6px -6px #2563ff, 7px -7px #2563ff, 8px -8px #2563ff;
    box-shadow: 1px -1px #2563ff, 2px -2px #2563ff, 3px -3px #2563ff, 4px -4px #2563ff, 5px -5px #2563ff, 6px -6px #2563ff, 7px -7px #2563ff, 8px -8px #2563ff;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}

.button-1 .button-link {
  border: 1px solid #2500f9;
  background: #2500f9;
  color: #fff;
  font-weight: 700;
  border-radius: 28.5px;
  padding: 15px 40px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button-1 .button-link:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.smart-jackpots {
  padding-top: 110px;
}

.smart-jackpots__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.smart-jackpots h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #242f51;
  -ms-flex-preferred-size: 63%;
      flex-basis: 63%;
  position: relative;
}

.smart-jackpots h1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  height: 1px;
  width: 32%;
  background: #616368;
  opacity: 0.38;
  -webkit-transform: rotate(91deg);
          transform: rotate(91deg);
}

.smart-jackpots p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  padding-left: 150px;
  color: #616368;
}
/*# sourceMappingURL=style.css.map */