@import './variables';
@import './navigation';
@import './home';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@-webkit-keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue;
        box-shadow: 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px -1px $blue, 2px -2px $blue, 3px -3px $blue, 4px -4px $blue, 5px -5px $blue, 6px -6px $blue, 7px -7px $blue, 8px -8px $blue;
        box-shadow: 1px -1px $blue, 2px -2px $blue, 3px -3px $blue, 4px -4px $blue, 5px -5px $blue, 6px -6px $blue, 7px -7px $blue, 8px -8px $blue;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}

@keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue;
        box-shadow: 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue, 0 0 $blue;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px -1px $blue, 2px -2px $blue, 3px -3px $blue, 4px -4px $blue, 5px -5px $blue, 6px -6px $blue, 7px -7px $blue, 8px -8px $blue;
        box-shadow: 1px -1px $blue, 2px -2px $blue, 3px -3px $blue, 4px -4px $blue, 5px -5px $blue, 6px -6px $blue, 7px -7px $blue, 8px -8px $blue;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.button-1 {
    .button-link {
        border: 1px solid $button-color;
        background: $button-color;
        color: #fff;
        font-weight: 700;
        border-radius: 28.5px;
        padding: 15px 40px;

        @include transition-ease;

        &:hover {
            -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }
    }
}